.clearfix,
.cf,
.clear {
    overflow: auto;
}

.u-abs-fill {
    position: absolute;
    top: 0;
    left: auto;
    z-index: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.u-bg-img {
    background-position: center;
    background-size: cover;
}
