{% extends "base.twig" %}

{% block content %}

<section>
	<div class="row vm-xs-top-3 vm-xs-bottom-3 vm-md-bottom-5">
		<div class="col-xs-12">
			<div class="media-video video-player-start" data-vimeoid="176875292">
				<div class="u-abs-fill u-bg-img" style="background-image: url('https://unsplash.it/1600/900?random');"></div>
				<div class="play-btn"></div>
			</div>
		</div>
	</div>
	<div class="row vm-md-bottom-2">
		<div class="col-xs-12">
			<img class="logo-rocc" src="{{theme.path}}/assets/dist/img/logo-rocc.png">
		</div>
	</div>
</section>

{% endblock %}