{% extends "base.twig" %}

{% block content %}

<section>
	<div class="row vm-xs-bottom-3 vm-lg-top-3">
		<div class="col-xs-12">
			<div class="media-video video-player-start" data-vimeoid="176875292">
				<div class="u-abs-fill u-bg-img" style="background-image: url('https://unsplash.it/1600/900?random');"></div>
				<div class="play-btn"></div>
			</div>
		</div>
	</div>
</section>

{% endblock %}