{% extends "base.twig" %}

{% block content %}

<section>
	<div class="row vm-xs-top-3 vm-xs-bottom-3">
		<div class="col-lg-4 text-xs-center">
			<div class="media-video small-media video-player-start" data-vimeoid="176875292">
				<div class="u-abs-fill u-bg-img" style="background-image: url('https://unsplash.it/1600/900?random');"></div>
				<div class="play-btn"></div>
			</div>
			<h6 class="vm-xs-top-1 vm-xs-bottom-2 vm-lg-bottom-0 text-uppercase">Person's Name</h6>
		</div>
		<div class="col-lg-4 text-xs-center">
			<div class="media-video small-media video-player-start" data-vimeoid="176875292">
				<div class="u-abs-fill u-bg-img" style="background-image: url('https://unsplash.it/1600/900?random');"></div>
				<div class="play-btn"></div>
			</div>
			<h6 class="vm-xs-top-1 vm-xs-bottom-2 vm-lg-bottom-0 text-uppercase">Person's Name</h6>
		</div>
		<div class="col-lg-4 text-xs-center">
			<div class="media-video small-media video-player-start" data-vimeoid="176875292">
				<div class="u-abs-fill u-bg-img" style="background-image: url('https://unsplash.it/1600/900?random');"></div>
				<div class="play-btn"></div>
			</div>
			<h6 class="vm-xs-top-1 vm-xs-bottom-2 vm-lg-bottom-0 text-uppercase">Person's Name</h6>
		</div>
	</div>
	<div class="row vm-xs-top-3 vm-xs-bottom-1 vm-lg-bottom-3">
		<div class="col-lg-4 text-xs-center">
			<div class="card vp-xs-top-2 vp-xs-bottom-2">
				<h6 class="vm-xs-bottom-2 text-uppercase">One Pager</h6>
				<ul>
					<li><a href="#!">Download Link</a> (PDF)</li>
					<li><a href="#!">Download Link</a> (PDF)</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 text-xs-center">
			<div class="card vp-xs-top-2 vp-xs-bottom-2">
				<h6 class="vm-xs-bottom-2 text-uppercase">Brochure</h6>
				<ul>
					<li><a href="#!">Download Link</a> (PDF)</li>
					<li><a href="#!">Download Link</a> (PDF)</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 text-xs-center">
			<div class="card vp-xs-top-2 vp-xs-bottom-2">
				<h6 class="vm-xs-bottom-2 text-uppercase">Generosity Toolbox</h6>
				<ul>
					<li><a href="#!">Download Link</a> (PDF)</li>
					<li><a href="#!">Download Link</a> (PDF)</li>
				</ul>
			</div>
		</div>
	</div>
</section>

{% endblock %}
