{% extends "base.twig" %}

{% block content %}

<section>
	<div class="row vm-xs-top-4 vm-xs-bottom-1 vm-lg-top-8 vm-lg-bottom-8">
		<div class="col-lg-8 offset-lg-2">
			<h5 class="vm-xs-bottom-2">A LETTER FROM PASTOR JOHN</h5>
			<p>In the Fall of 2011, God led our family to move to the Boro and re-dream the dream with you about what ROCC could be and should be in order to bring glory to Jesus by reaching our community for Him. We have seen our church grow in the last 5 years in so many ways. More than 600 people now call ROCC home; we have baptized more than 200 people; our giving has more than doubled annually; and we are preparing to move into our first permanent home! But this move is not the end of God’s dream for ROCC. It is only the beginning. As we are preparing for this big move, I believe that God is inviting us to get out of the boat and take a greater step of faith than we have ever taken before. But what does that look like?</p>
			<p>For the next 2 years, we are entering an exciting season of spiritual impact and generosity called Devoted/365. We are going back to the first church in Acts 2:42, 47 and looking at their devotion and impact: “They devoted themselves...and the Lord added to their number daily those who were being saved.”</p>
			<p>So, I began to ask: What would it look like if every ROCC’er went all-in in our devotion to Christ and His mission everyday for the next 2 years? What would it look like to see God “add to our number daily” people whose lives were being transformed by Jesus over the next 2 years? What difference would that kind of devotion make in our schools, neighborhoods, and community?</p>
			<p>My challenge for you is to consider going all in with me in every part of your life through Devoted/365. Let’s make investments of our time, talents, and treasure in things that will make a difference in eternity.</p>
			<p>Thank you for being a part of what God is doing at ROCC! I am looking forward to seeing what God can do through us as we go all in for Him!</p>
			<p><em>- John</em></p>
		</div>
	</div>
</section>

{% endblock %}
