{% extends "base.twig" %}

{% block content %}

<section>
	<div class="row vm-xs-top-3 vm-xs-bottom-1 vm-lg-bottom-3">
		<div class="col-lg-8 offset-lg-2">
			<ul class="faq">
				<li class="faq--active">
					<div class="faq__question">
						<h5>WHERE HAS ROCC BEEN?</h5>
						<div class="faq__state"></div>
					</div>
					<div class="faq__answer">
						<p>In December 2013, many members of our ROCC family took a 24-month faith journey together called Beyond. We believed that God would provide for our needs as we gave above and beyond our regular tithes toward 2 goals:</p>
						<ul>
							<li>Paying off the 10.4 acres at 210 Rucker Lane.</li>
							<li>Securing a loan to begin construction of our first permanent home for ROCC.</li>
						</ul>
						<p>God once again proved Himself to be the “Beyond God” for ROCC! We received $487,000 toward Beyond, which allowed us to pay off our land debt completely, and secure the financing to build phase 1 of our first permanent home for ROCC. Here are some additional ways that God used ROCC to bless our city and world during the Beyond Campaign:</p>
						<ul>
							<li>Mega Sports Camp helped over 1,000 children and their families discover real life in Christ through sports.</li>
							<li>We sent missionaries to Murfreesboro, Nashville, Vancouver, Connecticut, North Carolina, Kenya, and Haiti.</li>
							<li>We baptized over 70 people in 2 years.</li>
						</ul>
					</div>
				</li>
				<li>
					<div class="faq__question">
						<h5>WHAT IS NEXT FOR ROCC?</h5>
						<div class="faq__state"></div>
					</div>
					<div class="faq__answer">
						<p>For the next 2 years, we are entering an exciting season of spiritual impact and generosity called Devoted/365. We are going back to the first church in Acts 2:42, 47 and looking at their devotion and impact: “They devoted themselves...and the Lord added to their number daily those who were being saved.”</p>
						<p>What would it look like if every ROCC’er went all-in in our devotion to Christ and His mission everyday for the next 2 years? What would it look like to see God “add to our number daily” people whose lives were being transformed by Jesus over the next 2 years? What difference would that kind of devotion make in our schools, neighborhoods, and community?</p>
						<p>Our challenge for you is to consider going all in with us in every part of your life through Devoted/365. Let’s make investments of our time, talents, and treasure in things that will make a difference in eternity.</p>
						<p>Thank you for being a part of what God is doing at ROCC! We are looking forward to seeing what God can do through us as we go all in for Him!</p>
					</div>
				</li>
				<li>
					<div class="faq__question">
						<h5>WHAT IS DEVOTED/365?</h5>
						<div class="faq__state"></div>
					</div>
					<div class="faq__answer">
						<p>It is a Generosity and Spiritual Impact Initiative that includes 3 major generosity areas that we pray will result in 365 people a year whose lives are being transformed by Jesus. The three generosity areas are:</p>
						<h6>DEVOTED FOR OUR MISSION: $1.2 MILLION</h6>
						<p>Our mission is helping people take their next steps with Jesus. We believe God has blessed us in order for us to continue that mission. As we are continuing to grow, we are devoted to maintaining that momentum while making sure that our existing ministries are healthy and adequately staffed.</p>
						<h6>DEVOTED FOR OUR COMMUNITY: $600,000</h6>
						<p>We have devoted ourselves to making room for the people in our community who will be coming to our new facility. This commitment will include paying down our mortgage as quickly as possible, as well as paying the expenses (utilities, maintenance, etc.) that come with owning a new facility.</p>
						<h6>DEVOTED FOR OUR WORLD: $200,000</h6>
						<p>Since ROCC began, we have been devoted not only to growing the influence of our church, but also growing the influence of THE Church. Thus, we have given, and will continue to give, 10% of our revenue to missions. These funds will go toward planting new churches and sending ROCC’ers to serve alongside our local and global mission partners.</p>
					</div>
				</li>
				<li>
					<div class="faq__question">
						<h5>WHAT DOES ONE-FUND MEAN?</h5>
						<div class="faq__state"></div>
					</div>
					<div class="faq__answer">
						<p>You may have participated in church campaigns in the past where you were asked to give a gift “above and beyond” your regular giving to the church in order to make special projects like new buildings and new ministries possible. Normally, you would write one check to the “building fund” and another check to the “general fund.” This type of giving is potentially confusing to people who either don’t have a baseline for their “regular giving,” or they are not able to celebrate their total giving to ROCC in one total amount. We believe that it’s all ONE MISSION that we are on at ROCC, which is to help people take their next steps with Jesus. So, our church leaders have decided that from now on, we want to have one fund to which we give generously at ROCC.</p>
						<p>The Devoted/365 initiative will last for two years. In those two years, every gift that is given to ROCC will go to Devoted/365. This will help us go all in for our mission, our community, and our world.</p>
					</div>
				</li>
				<li>
					<div class="faq__question">
						<h5>HOW SHOULD I RESPOND?</h5>
						<div class="faq__state"></div>
					</div>
					<div class="faq__answer">
						<h6>PRAY.</h6>
						<p>Ask God to show you any areas in your heart that are not fully devoted to Him. Ask God what He wants you to give to Devoted/365.</p>
						<h6>REFLECT.</h6>
						<p>As you are praying, believe that God will be speaking to you through His Holy Spirit. Take your time and reflect on what His Spirit is saying to you. If you are married, pray together with your spouse about what you sense God is leading your family to do and give.</p>
						<h6>TAKE A BOLD STEP OF FAITH.</h6>
						<p>Discipleship and stewardship go hand-in-hand. Growing as a follower of Jesus is a journey of ongoing steps of faith in Jesus. We don’t grow without taking a step of faith. So, growing in stewardship requires us taking bold steps of faith because we value Jesus more than anything else.</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>

{% endblock %}
